
<div *ngIf="recipe">
  <section>
    <div class="row mb-3">
      <div class="col-md-6">
        <h3 class="text-left text-light mr-auto">
          {{ recipe.recipeTitle }}
        </h3>
      </div>
      <div class="col-md-6">
        <button class="btn btn-outline-info float-right" (click)="returnToList()">
          Back to Recipe List
        </button>
      </div>
    </div>

    <!-- CAROUSEL  -->
    <div class="carousel slide" data-ride="carousel" id="recipeSilder">
      <ul class="carousel-indicators">
        <li
          data-target="#recipeSilder"
          *ngFor="let img of recipe.imgUrls; let i = index"
          [attr.data-slide-to]="i"
          [ngClass]="i == 0 ? 'active' : ''"
        ></li>
      </ul>

      <div class="carousel-inner">
        <div
          class="img-alt"
          *ngFor="let img of recipe.imgUrls; let i = index"
          [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
          [style.backgroundImage]="'url(' + img + ')'"
        ></div>
      </div>

      <a href="#recipeSilder" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#recipeSilder" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <div class="row mt-1">
      <div class="col">
        <p class="lead">
          <i class="fad fa-utensil-fork fa-2x"></i> {{ recipe.recipeDesc }}
        </p>
      </div>
    </div>
  </section>


  <!-- INGREDIENT -->
<section id="ingredient bg-dark text-white  mb-5 mt-2 pb-5" >
  <div class="row mb-1">
    <div class="col text-center">
      <h1>Ingredient</h1>
      <p class="lead">Click on the recipes to get amount</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="accordion">
        <div
          class="card bg-secondary text-center text-dark"
          *ngFor="let ingredient of recipe.ingredients; let i = index"
        >
          <!-- CARD HEADER  -->
          <div class="card-header">
            <h5>
              <a
                [href]="'#collapse' + i"
                data-toggle="collapse"
                data-parent="#accordion"
              >
                {{ ingredient.ingredientName }}
                <i class="fad fa-utensils-alt"></i>
              </a>
            </h5>
          </div>

          <!-- CARD BODY  -->
          <div
            [id]="'collapse' + i"
            [ngClass]="i == 0 ? 'collapse show' : 'collapse'"
          >
            <div class="card-body">
              <p class="lead ml-5 d-inline">
                <b>
                  <strong>Required :</strong>
                  {{ ingredient.ingredientQuantity }}
                </b>
              </p>

              <button
                class="btn btn-outline-light ml-3"
                data-target="#cartModal"
                data-toggle="modal"
                (click)="onSelectIngredient(ingredient)"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>


<!-- SPINNER  -->
<div class="row" *ngIf="!recipe">
  <div class="col offset-6">
    <div class="spinner" >
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>


<br />



<div class="modal fade" id="cartModal">
  <div class="modal-dialog">
    <div class="modal-content bg-secondary text-light">
      <div class="modal-header" [ngClass]="updatedToCart ? 'bg-success' : ''">
        <h5 >
          {{ updatedToCart ? 'Successfully' : ''  }}   Add to Cart
        </h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="saveCart(formData)" #formData="ngForm">
          <div class="form-group mb-1">
            <label for="Ingredient">Ingredient</label>
            <input
              type="text"
              class="form-control"
              name="ingredient"
              [ngModel] = "selectedIngredient"
            />
          </div>
          <div class="form-group mb-1">
            <label for="Quantity">Quantity</label>
            <input
              type="number"
              class="form-control"
              value=""
              name="quantity"
              required
              ngModel
            />
          </div>
          <div class="form-group mb-4">
            <label for="Unit">Unit</label>
            <select name="unit"
                    id="unit"
                    class="form-control"
                    ngModel
                    required>
              <option value="">Select Unit</option>
              <option *ngFor="let unit of units" [value]="unit.key">
                {{ unit.label }}
              </option>
            </select>
          </div>

          <button class="btn btn-info btn-block mb-2"
                  [disabled]="formData.invalid">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<br /><br />
<br />

<!-- <img [src]="img"
                    alt="recipe.recipeTitle"
                    class="img-fluid img-alt" > -->
