.img-alt {
  height: 400px !important;
  background-size: contain;
  background-repeat: repeat;
  border-radius: 20px;
  /* opacity: 0.9; */
  border-bottom: 1px solid  #00FFFF;
  border-top: 1px solid  #00FFFF;

}

.carousel-item {
  height: 450px;
}

a {
  text-decoration: none;
   color: #00FFFF;
}


.spinner {
  padding-top: 150px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}


