.alert-drop {
  position : fixed;
  top: 0;
  left :0 ;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
}

.card {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 50%;
  z-index: 100;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}
