
<div class="container mt-0 mb-5">

  <div class="row mb-4">
    <div class="col-md-6 offset-md-4">
      <h3 class="d-inline display-4">Feel The Spice </h3> <i class="fas fa-fire fa-3x"></i>
    </div>
  </div>

  <div class="row mb-5 icon-group">
    <div class="col">
      <div class="d-flex justify-content-between">
        <div class="p-2">
          <i class="fad fa-popcorn fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-sandwich fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-croissant fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-apple-crate fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-turkey fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-cookie-bite fa-2x"></i>
        </div>
        <div class="p-2">
          <i class="fad fa-cheese-swiss fa-2x"></i>
        </div>
      </div>
    </div>
  </div>

  <app-menu-list></app-menu-list>

</div>

<br>
